<div class="header">
  <h2>Histórico de Atividades</h2>
  <button mat-flat-button color="primary" (click)="gerarPDF()">
    <mat-icon>picture_as_pdf</mat-icon>
    Exportar em PDF
  </button>
</div>

<div class="filter-bar" [formGroup]="filterForm">
  <mat-form-field appearance="outline">
    <mat-label>Filtrar por Funcionário</mat-label>
    <mat-select formControlName="funcionarioId">
      <mat-option *ngFor="let func of funcionarios" [value]="func.id">
        {{ func.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="filter-type-select">
    <mat-label>Tipo de Data</mat-label>
    <mat-select formControlName="filterType">
      <mat-option value="day">Dia</mat-option>
      <mat-option value="month">Mês</mat-option>
      <mat-option value="year">Ano</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Filtrar por Data</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="data">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker 
                  [startView]="datepickerStartView"
                  (monthSelected)="monthSelectedHandler($event, picker)"
                  (yearSelected)="yearSelectedHandler($event, picker)">
    </mat-datepicker>
  </mat-form-field>

  <button mat-stroked-button (click)="limparFiltros()">
    Limpar Filtros
  </button>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="historicoFiltrado$">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeItem}} </td>
    </ng-container>
    <ng-container matColumnDef="funcionario">
      <th mat-header-cell *matHeaderCellDef> Atribuído para </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeFuncionario}} </td>
    </ng-container>
    <ng-container matColumnDef="dataInicio">
      <th mat-header-cell *matHeaderCellDef> Data de Atribuição </th>
      <td mat-cell *matCellDef="let element"> {{element.dataInicio | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="dataFim">
      <th mat-header-cell *matHeaderCellDef> Data de Devolução </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.dataFim ? (element.dataFim | date:'dd/MM/yyyy') : 'Ainda em uso' }} 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

