<div class="header">
  <h2>Histórico de Atividades</h2>
  <button mat-flat-button color="primary" (click)="gerarPDF()">
    <mat-icon>picture_as_pdf</mat-icon>
    Exportar em PDF
  </button>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="historicoCompleto$">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef> Item </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeItem}} </td>
    </ng-container>
    <ng-container matColumnDef="funcionario">
      <th mat-header-cell *matHeaderCellDef> Atribuído para </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeFuncionario}} </td>
    </ng-container>
    <ng-container matColumnDef="dataInicio">
      <th mat-header-cell *matHeaderCellDef> Data de Atribuição </th>
      <td mat-cell *matCellDef="let element"> {{element.dataInicio | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="dataFim">
      <th mat-header-cell *matHeaderCellDef> Data de Devolução </th>
      <td mat-cell *matCellDef="let element"> 
        {{ element.dataFim ? (element.dataFim | date:'dd/MM/yyyy') : 'Ainda em uso' }} 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
