<div class="activity-card">
  <h3>Últimas Atividades</h3>

  <mat-list *ngIf="atividades$ | async as atividades; else loading">

    <ng-container *ngIf="atividades.length > 0; else noActivities">
      <mat-list-item *ngFor="let atividade of atividades">
        <mat-icon matListItemIcon>{{ atividade.icone }}</mat-icon>
        <div matListItemTitle>{{ atividade.texto }}</div>
        <div matListItemLine>{{ atividade.data | date:'dd/MM/yyyy HH:mm' }}</div>
      </mat-list-item>
    </ng-container>

  </mat-list>

  <ng-template #loading>
    <p class="placeholder">A carregar atividades...</p>
  </ng-template>

  <ng-template #noActivities>
    <p class="placeholder">Nenhum registo de atividade encontrado.</p>
  </ng-template>
</div>