<h2 mat-dialog-title>{{ isEditMode ? 'Editar Funcionário' : 'Novo Funcionário' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="nome" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" required mask="000.000.000-00">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataNascimento" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="save()">
    {{ isEditMode ? 'Salvar Alterações' : 'Criar Funcionário' }}
  </button>
  <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>

