<mat-toolbar color="primary" class="main-toolbar">
  <div class="toolbar-brand">
    <img src="../../../assets/Elo_TI.png" alt="Elo TI" class="toolbar-logo-image">
  </div>

  <span class="toolbar-spacer"></span>

  <button mat-button (click)="logout()" title="Sair" class="logout-button">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-toolbar>

<div class="container">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of navLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
       <mat-icon class="tab-icon">{{link.icon}}</mat-icon>
      {{link.label}}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>

