.main-toolbar {
  display: flex;
  align-items: center;
}

.toolbar-brand {
  display: flex;
  align-items: center;
  gap: 16px; 
}

.toolbar-logo-image {
  max-height: 55px; 
  width: auto;
}

.toolbar-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.toolbar-spacer {
  flex: 1 1 auto; 
}

.container {
  padding: 24px;
}

.tab-icon {
  margin-right: 8px;
}

